@import '@fontsource/fira-mono';

@font-face {
	font-family: "CameraPlain";
	src: url("../fonts/ABCCameraPlain-Medium-Trial.woff") format("woff");
  }

  @font-face {
	font-family: "Camera";
	src: url("../fonts/ABCCamera-Bold-Trial.woff") format("woff");
  }


:root {
	--font-body: Helvetica, Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	--font-mono: 'Fira Mono', monospace;
	--color-bg-0: rgb(202, 216, 228);
	--color-bg-1: hsl(209, 36%, 86%);
	--color-bg-2: hsl(224, 44%, 95%);
	--color-theme-1: #ff3e00;
	--color-theme-2: #4075a6;
	--color-text: rgba(0, 0, 0, 0.7);
	--column-width: 42rem;
	--column-margin-top: 4rem;
	font-family: var(--font-body);
	color: var(--color-text);
}

body {
	min-height: 100vh;
	font-family: CameraPlain;
	color: black;
	font-size: 18pt;
}

h1{
	font-family: Camera;
	font-size: 5em;
	margin-top: 0px;
	margin-bottom: 1em;
	text-align: left;
}

button{
	background-color: black;
	color: white;
	border: none;
	padding-left: 1em;
	padding-right: 1em;
	padding-top: 1em;
	padding-bottom: 1em;
	display: block;
	text-transform: uppercase;
	margin-bottom: 10px;
}

button:hover{
    background-color: #343434;
}

a{
	color: white;
	text-decoration: none;
}

#opencall{
	display: block;
}

